<script>
  import {shorten} from '../helpers'

  export let files = []
</script>

<table>
  <thead>
    <tr>
      <th>file</th>
      <th>seller</th>
      <th>price</th>
      <th>buys (#)</th>
    </tr>
  </thead>
  <tbody>
    {#each files as file}
    <tr>
      <td><a href="#/file/{file.id}">{file.metadata.name}</a></td>
      <td><a href="#/seller/{file.seller}">{shorten(file.seller)}</a></td>
      <td>{parseInt(file.price_msat / 1000)} sat</td>
      <td>{file.nsales}</td>
    </tr>
    {/each}
  </tbody>
</table>
